{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class = "container py-2">
  <h1 class = "text-center">WikiPedia</h1>
  <hr/>
  <form method = 'POST'>
    {% csrf_token %}
    {{form|crispy}}
    <div class = "d-flex d-inline-block py-2">
      <button type = 'submit' class = 'btn btn-primary'>Search</button>
    </div>
  </form>
  {% if title %}
  <div class = "row justify-content-center">
    <div class = "col-md-6">
      <a class = "custom-link" href = "{{link}}" _blank = True>
      <div class = "card mb-2">
        <div class = "card-header">
          <p class = "exact-title text-center">{{title}}</p>
        </div>
        <div class = "card-body">
          <h5 class = "card-title text-center">Summary</h5>
          <hr/>
            <p class = "content-container">{{details}}</p>
        </div>
      </div>
    </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
