<!doctype html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{{Note.title}}</title>
</head>
<style>
    .pdf-title{
  text-align: center;
    }
    .pdf-text{
    color:#777;
    }
</style>
<body>
    <header>
        <h1 class = "pdf-title">{{Note.title}}{% if Note.important %} !!{% endif %}</h1>
        <hr/>
    </header>
    <h4 class = "pdf-text">Subject: {{Note.subject}}</h4>
    <h4 class = "pdf-text">Updated On: {{Note.updated_on}}</h4>
    
    {{Note.media}}
    {{Note.notes|safe|linebreaks}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>

